<%= form_for @bar, :html => { :multipart => true } do |f| %>
  <% if @bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% @bar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <div class="limpiar"></div>
      </ul>
    </div>
  <% end %>

<div class="limpiar"></div>
  <div class="formulario">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="limpiar"></div>
    <div class="field">
      <%= f.label :province %>
      <%= f.text_field :province %>
    </div>
    <div class="field">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>
    <div class="field">
      <%= f.label :postalcode %>
      <%= f.text_field :postalcode %>
    </div>
    <div class="limpiar"></div>
    <div class="field">
      <%= f.label :business_hours %>
      <%= f.text_field :business_hours %>
    </div>
    <div class="field">
      <%= f.label :webpage %>
      <%= f.url_field :webpage %>
    </div>
    <div class="field">
      <%= f.label :twitter_profile %>
      <%= f.url_field :twitter_profile %>
    </div>
    <div class="limpiar"></div>
    <div class="field">
      <%= f.label :facebook_profile %>
      <%= f.url_field :facebook_profile %>
    </div>
    <div class="field">
      <%= f.label :latidude %>
      <%= f.text_field :latidude %>
    </div>
    <div class="field">
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
    </div>
    <div class="limpiar"></div>
    <div class="field">
      <%= f.label :tag_list, "Tags" %> 
      <%= f.text_field :tag_list %>
      <p>(Add tags separated by ,)</p>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
     <div class="photo field">
      <label>Bar image</label>
      <%= f.file_field :photo %>
    </div>
  <!--div class="field">
    <.%= f.label :created_at %>
    <.%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <.%= f.label :updated_at %>
    <.%= f.datetime_select :updated_at %>
  </div-->
    <div class="limpiar"></div>

</div>  
<div class="navbar2">
    <div class="btn-group">
        <div class="btn btn-menu span100 btn-small fuente1 left"> <%= f.submit %></div>
    </div>
</div>


<% end %>
