<div class="navbar">
    <div class="btn-group">
        <div class="btn btn-menu span50 btn-small fuente1 left"><%= link_to 'Editar', edit_bar_path(@bar) %></div>
        <div class="btn btn-menu span50 btn-small fuente1 left"><%= link_to 'Volver', bars_path %></div>
    </div>
</div>

<div class="container">
  
  <h1 class="nuevoB">
    <span class="left">Perfíl de <%= @bar.name %></span> 
    <span class="right">
    <%= image_tag @bar.photo.url(:thumb) %><!--he cambiado de :minithumb a :thumb y se ha agrandado un poco pero sería lo suyo saber como hacerlo mas grande sin css porque lo he probado y queda mal-->
  </span><div class="limpiar"></div>
  </h1> 
  
  <p id="notice"><%= notice %></p>
  <div class="accordion"><!--Se repite id, y a lo corregire-->
    <h3 class="field_prefil">Datos generales</h3>
    <div class="field_prefil">
      <p>
        <span class="label_perfil left">Nombre:</span>
        <span classs="right"><%= @bar.name %></span>
      </p>

      <p>
        <span class="label_perfil left">Dirección:</span>
        <span classs="right"><%= @bar.address %></span>
      </p>

      <p>
        <span class="label_perfil left">Ciudad:</span>
        <span classs="right"><%= @bar.city %></span>
      </p>

      <p>
        <span class="label_perfil left">Provincia:</span>
        <span classs="right"><%= @bar.province %></span>
      </p>

      <p>
        <span class="label_perfil left">País:</span>
        <span classs="right"><%= @bar.country %></span>
      </p>

      <p>
        <span class="label_perfil left">Postal code:</span>
        <span classs="right"><%= @bar.postalcode %></span>
      </p>
    </div>
    <h3 class="field_prefil">Web y redes sociales</h3>
    <div class="field_prefil">
      <p>
        <span class="label_perfil left">Web:</span>
        <span classs="right"><%= @bar.webpage %></span>
      </p>

      <p>
        <span class="label_perfil left">Twitter:</span>
        <span classs="right"><%= @bar.twitter_profile %></span>
      </p>

      <p>
        <span class="label_perfil left">Facebook:</span>
        <span classs="right"><%= @bar.facebook_profile %></span>
      </p>
    </div>
   <h3 class="field_prefil">Localización</h3>
    <div class="field_prefil">
      <p>
        <span class="label_perfil left">Latitud:</span>
        <span classs="right"><%= @bar.latidude %></span>
      </p>

      <p>
        <span class="label_perfil left">Longitud:</span>
       <span classs="right"><%= @bar.longitude %></span>
      </p>
    </div>
    <h3 class="field_prefil">Descripción</h3>
    <div class="field_prefil">
      <p>
        <%= @bar.description %>
      </p>
       <p>
        <span class="label_perfil left">Horario:</span>
        <span classs="right"><%= @bar.business_hours %></span>
      </p>
    </div>
    <h3 class="field_prefil">Más info</h3>
    <div class="field_prefil">
      <p>
        <span class="label_perfil left">Tags</span>
        <% @bar.tags.each do |tag| %>
          <span classs="right"> <%= tag.name %> </span>
        <% end %>
      </p>

      <p>
        <span class="label_perfil left">Creado:</span>
        <span classs="right"><%= @bar.created_at.strftime('%d %B %Y') %> (hace <%= distance_of_time_in_words(DateTime.now, @bar.created_at) %>)</span>
      </p>

      <p>
        <span class="label_perfil left">Modificado:</span>
        <span classs="right"><%= @bar.updated_at.strftime('%d %B %Y') %></span>
      </p>
    </div>
  </div>
</div>
